:root{
    --color-danger:red;
    --color-primary-dark: #4680ff;
    --color-primary-light:#9fbdff;
    --color-white:#fff;
    --color-secondary-light:hsl(88, 38%, 69%);;
    --color-secondary-dark: #b2ce93;
    --color-warning: rgb(221, 199, 6);
    --color-background:#ecf0f5;
}